
{% extends 'web/base.html' %}


{% block css %}
    <link rel="stylesheet" href="/static/web/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="/static/web/layui/css/layui.css" />
    <link rel="stylesheet" href="/static/web/css/master.css" />
    <link rel="stylesheet" href="/static/web/css/gloable.css" />
    <link rel="stylesheet" href="/static/web/css/nprogress.css" />
{% endblock %}

{% block js %}
    <script src="/static/web/layui/layui.js"></script>
    <script src="/static/web/js/yss/gloable.js"></script>
    <script src="/static/web/js/plugins/nprogress.js"></script>
    <script>NProgress.start();</script>
    <script>
        window.onload = function () {
            NProgress.done();
        };
    </script>
{% endblock %}

{% block header %}
<div class="header">
    </div>
    <header class="gird-header">
        <div class="header-fixed">
            <div class="header-inner">
                <a href="javascript:void(0)" class="header-logo" id="logo">Lin</a>
                <nav class="nav" id="nav">
                    <ul>
                        <li><a href="{{ url_for('web.index') }}">首页</a></li>
                        <li><a href="{{ url_for('web.article') }}">博客</a></li>
                        <li><a href="{{ url_for('web.message') }}">留言</a></li>
                        <li><a href="{{ url_for('web.about') }}">关于我</a></li>
                    </ul>
                </nav>
                <a href="{{ url_for('back.login') }}" class="blog-user">
                    <i class="fa fa-qq">后台管理</i>
                </a>
                <a class="phone-menu">
                    <i></i>
                    <i></i>
                    <i></i>
                </a>
            </div>
        </div>
    </header>
{% endblock %}

{% block footer %}
    <footer class="grid-footer">
        <div class="footer-fixed">
            <div class="copyright">
                <div class="info">
                    <div class="contact">
                        <a href="https://github.com/CCWAY/blog" class="github" target="_blank"><i class="fa fa-github"></i></a>
                        <a href="https://wpa.qq.com/msgrd?v=3&uin=1049482756&site=qq&menu=yes" class="qq" target="_blank" title="1049482756"><i class="fa fa-qq"></i></a>
                        <a href="https://mail.qq.com/cgi-bin/qm_share?t=qm_mailme&email=1049482756@qq.com" class="email" target="_blank" title="1049482756@qq.com"><i class="fa fa-envelope"></i></a>
                        <a href="javascript:void(0)" class="weixin"><i class="fa fa-weixin"></i></a>
                    </div>
                    <p class="mt05">
                        Copyright &copy; 2018-2018 林、Lin All Rights Reserved V.1.0.0 渝ICP备18008600号
                    </p>
                </div>
            </div>
        </div>
    </footer>
{% endblock %}